/* src/components/navigation/navigation.css */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1C1E; /* Un negro sólido */
  color: white;
  padding: 0.5em;
}

.nav-logo {
  color: white;
  font-size: 1em;
  margin-left: 1em;
  font-weight: bold;
}

.nav-user {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.nav-user img {
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ffffff; /* Borde blanco para el avatar */
}

.nav-user p {
  margin: 0;
  margin-right: 10px;
}

.nav-user span {
  cursor: pointer;
  font-weight: bold;
  color: #FA8072; /* Un rojo salmón para el texto de logout */
}

/* Ajusta la altura del header según necesites */
.nav-container {
  height: 50px; /* O la altura que prefieras */
}
